### Build and Output Directories ###
target/
build/
bin/
out/
.kotlin/
allure-results/
reports/
.allure/

### Build Tools & Packaging ###
*.jar
*.war
*.ear
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.metadata/
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### System Files ###
.DS_Store
Thumbs.db

### Miscellaneous ###
src/main/java/pages/HomePage.java
TODO Next
